<a href="https://colab.research.google.com/github/JuanApablaza/01_Curso_ONE_Juego_Nro_Secreto/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [1]:
print('Hola Mundo!!')

Hola Mundo!!

In [2]:

print("Escuela de Datos de Alura")

Escuela de Datos de Alura

In [3]:
print("Nombre: [JUAN ]")
print("Apellido: [Apablaza]")

Nombre: [JUAN ]
Apellido: [Apablaza]

In [4]:
print("J")
print("U")
print("A")
print("N")

J
U
A
N

In [17]:
print(28, 'febrero', 2003)

28 febrero 2003

In [18]:
print('Año actual: ', 2023)

Año actual:  2023

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [19]:
5

5

In [20]:
id(5)

10750984

In [22]:
edad=5
print(id(edad))
print(id(5))

10750984
10750984

In [23]:
numerocinco=5
id(numerocinco)

10750984

In [24]:
nombre='juan'

In [25]:
id(nombre)

133270094802864

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

# Este es un comentario de una línea
print(10) # Podemos colocar otro comentario en una línea después de un código

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

In [5]:
'''
Este es un comentario
de varias líneas.
'''

'\nEste es un comentario\nde varias líneas.\n'

# Encabezado de nivel 1
## Encabezado de nivel 2
### Encabezado de nivel 3

In [6]:
**Texto en negritas**

SyntaxError: invalid syntax (<ipython-input-6-60dad5316479>, line 1)

**Texto en negritas**

*Texto en cursiva*

In [9]:
* Elemento 1
* Elemento 2
* Elemento 3

SyntaxError: invalid syntax (<ipython-input-9-41f20c4c40dc>, line 1)

* Elemento 1
* Elemento 2
* Elemento 3

1. Elemento 1
2. Elemento 2
3. Elemento 3

[Página de Alura](https://www.aluracursos.com/)

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [10]:
edad=5

In [11]:
type(edad)

int

In [13]:
promedio=9.5
type(promedio)

float

In [14]:
nombre="juan"
type(nombre)

str

In [15]:
v=True
type(nombre)

str

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [17]:
nombre_estudiante='Penélope Camacho'
edad_estudiante=11
promedio_estudiante=9,75
aprobado=True

print(nombre_estudiante,edad_estudiante,promedio_estudiante,aprobado)

Penélope Camacho 11 (9, 75) True

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [22]:
c_vigilante=5
s_vigilante=300

c_docente=16
s_docente=500

c_coordinador=2
s_coordinador=600

In [20]:
total_empleados=c_vigilante+c_docente+c_coordinador

print(total_empleados)

23

In [21]:
diferencia_salario=s_coordinador-s_vigilante
diferencia_salario

300

In [25]:
promedio_salarios=(c_vigilante * s_vigilante + c_docente * s_docente + c_coordinador * s_coordinador )/total_empleados
promedio_salarios

465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [1]:
texto = '  Micaela de los Sanyos '

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [2]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [3]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [4]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [5]:
texto.replace('y',"t")

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [6]:
id(texto)

134341094700768

In [11]:
nuevo_texto = texto.strip().replace('y','t').upper()
print(nuevo_texto)
print(id(nuevo_texto),id(texto))

MICAELA DE LOS SANTOS
134340677088832 134341094700768

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [12]:
nuevo_texto = texto.strip().replace('y','t').upper()

In [14]:
2**3

8

In [15]:
operador = 2
potencia = 3
operador ** potencia

8

In [16]:
7%3

1

In [17]:
dividendo = 7
divisor = 3
dividendo % divisor

1

In [18]:
7 // 3

2

In [19]:
numerador = 7
denominador = 3
numerador // denominador

2

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [21]:
nombre=input('escribe un nombre')

escribe un nombrejuan

In [22]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [30]:
ano_admision=int(input("digita el año admision: "))

digita el año admision: 2023

In [32]:
nota_admision=float(input("digita nota admision: "))

digita nota admision: 6.5

In [33]:
type(nota_admision)

float

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [35]:
print(f'\t El año de admision fue: {ano_admision} \n\tLa nota de admision fue:{nota_admision}')

	 El año de admision fue: 2023
	La nota de admision fue:6.5

In [36]:
chr(64)

'@'

In [37]:
chr(72) + chr(111) +  chr(108) + chr(97)

'Hola'

In [38]:
nombre = "Ana María"
edad = 17
print(f"El nombre de la alumna es {nombre} y su edad es {edad} años.")

El nombre de la alumna es Ana María y su edad es 17 años.

In [39]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [40]:
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

In [41]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

In [42]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [43]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel, tiene 15 años y su media es 9.95.

In [44]:
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

In [45]:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

In [46]:
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

In [47]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

In [48]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

In [1]:
nombre = input('Ingrese su nombre: ')
print(f'¡Hola, {nombre}!')

Ingrese su nombre: juan
¡Hola, juan!

In [2]:
nombre = input('Ingrese su nombre: ')
edad = int(input('Ingrese su edad: '))
print(f'¡Hola, {nombre}, tienes {edad} años!')

Ingrese su nombre: juan
Ingrese su edad: 45
¡Hola, juan, tienes 45 años!

In [3]:
nombre = input('Ingrese su nombre: ')
edad = int(input('Ingrese su edad: '))
altura = float(input('Ingrese su altura: '))
print(f'¡Hola, {nombre}, tienes {edad} años y mides {altura} metros!')

Ingrese su nombre: juan
Ingrese su edad: 45
Ingrese su altura: 1.46
¡Hola, juan, tienes 45 años y mides 1.46 metros!

In [4]:
a = int(input('Ingrese el primer valor: '))
b = int(input('Ingrese el segundo valor: '))
print(a + b)

Ingrese el primer valor: 4
Ingrese el segundo valor: 5
9

In [5]:
a = int(input('Ingrese el primer valor: '))
b = int(input('Ingrese el segundo valor: '))
c = int(input('Ingrese el tercer valor: '))
print(a + b + c)

Ingrese el primer valor: 4
Ingrese el segundo valor: 5
Ingrese el tercer valor: 6
15

In [6]:
a = int(input('Ingrese el primer valor: '))
b = int(input('Ingrese el segundo valor: '))
print(a - b)

Ingrese el primer valor: 8
Ingrese el segundo valor: 6
2

In [7]:
a = int(input('Ingrese el primer valor: '))
b = int(input('Ingrese el segundo valor: '))
print(a * b)

Ingrese el primer valor: 8
Ingrese el segundo valor: 6
48

In [8]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: el valor no puede ser nulo): '))
print(numerador / denominador)

Ingrese el numerador: 45
Ingrese el denominador (OBS: el valor no puede ser nulo): 5
9.0

In [9]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: el valor no puede ser nulo): '))
print(numerador // denominador)

Ingrese el numerador: 50
Ingrese el denominador (OBS: el valor no puede ser nulo): 5
10

In [10]:
numerador = int(input('Ingrese el numerador: '))
denominador = int(input('Ingrese el denominador (OBS: el valor no puede ser nulo): '))
print(numerador % denominador)

Ingrese el numerador: 50
Ingrese el denominador (OBS: el valor no puede ser nulo): 5
0

In [11]:
nota_1 = float(input('Ingrese la 1° nota: '))
nota_2 = float(input('Ingrese la 2° nota: '))
nota_3 = float(input('Ingrese la 3° nota: '))
print(f'Media {(nota_1+nota_2+nota_3)/3}.')

Ingrese la 1° nota: 2
Ingrese la 2° nota: 4
Ingrese la 3° nota: 3
Media 3.0.

In [12]:
media_ponderada = (5*1 + 12*2 + 20*3 + 15*4) / (1+2+3+4)
print(f'Media {media_ponderada}.')

Media 14.9.

In [13]:
frase = '¡Hola Python!'
print(frase)

¡Hola Python!

In [14]:
frase = input('Escribe una frase: ')
print(frase)

Escribe una frase: gato
gato

In [15]:
frase = input('Escribe una frase: ')
print(frase.upper())

Escribe una frase: gato
GATO

In [16]:
frase = input('Escribe una frase: ')
print(frase.lower())

Escribe una frase: gato
gato

In [17]:
frase = ' ¡Hola Python! '
print(frase.strip())

¡Hola Python!

In [18]:
frase = input('Escribe una frase: ')
print(frase.strip())

Escribe una frase: gato
gato

In [19]:
frase = input('Escribe una frase: ')
print(frase.lower().replace('e','f'))

Escribe una frase: loko
loko

In [20]:
frase = input('Escribe una frase: ')
print(frase.lower().replace('e','f'))

Escribe una frase: lepe
lfpf

In [21]:
frase = input('Escribe una frase: ')
print(frase.lower().replace('a',chr(64)))

Escribe una frase: prueba
prueb@

In [22]:
frase = input('Escribe una frase: ')
print(frase.lower().replace('s',chr(36)))

Escribe una frase: frase
fra$e

# Estructuras condicionales

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [23]:
##Nota de aprobacion entre 7 y 10 == nota de aprobacion >=7
##Nota de aprobacion es menor a 7 == nota de reprobacion < 7
"""
si la nota es mayor o igual a 7 entonces el estudiante aprueba
si no , entonces el estudiante reprueba
"""

'\nsi la nota es mayor o igual a 7 entonces el estudiante aprueba\nsi no , entonces el estudiante reprueba\n'

In [31]:
if 2 > 7:
  print('la condicion es verdadera')
else:
  print('la condicion es falsa')

print('fin de la consulta')

la condicion es falsa
fin de la consulta

In [33]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria > edad_beatriz:
  print('María es mayor que Beatriz.')

Ingrese la edad de María: 89
Ingrese la edad de Beatriz: 88
María es mayor que Beatriz.

In [35]:
edad_maria = int(input('Ingrese la edad de María: '))
edad_beatriz = int(input('Ingrese la edad de Beatriz: '))

if edad_maria < edad_beatriz:
  print('María es menor que Beatriz.')

Ingrese la edad de María: 50
Ingrese la edad de Beatriz: 51
María es menor que Beatriz.

In [36]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 >= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 89
Ingrese la cantidad de empleados de la empresa 2: 46
La empresa 1 tiene una cantidad de empleados mayor o igual a la empresa 2.

In [37]:
empleados_empresa_1 = int(input('Ingrese la cantidad de empleados de la empresa 1: '))
empleados_empresa_2 = int(input('Ingrese la cantidad de empleados de la empresa 2: '))

if empleados_empresa_1 <= empleados_empresa_2:
  print('La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.')

Ingrese la cantidad de empleados de la empresa 1: 46
Ingrese la cantidad de empleados de la empresa 2: 56
La empresa 1 tiene una cantidad de empleados menor o igual a la empresa 2.

In [38]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 == libro_2:
  print('Los libros tienen el mismo título.')

Ingrese el título del 1° libro: loco
Ingrese el título del 2° libro: ilo

In [39]:
libro_1 = input('Ingrese el título del 1° libro: ')
libro_2 = input('Ingrese el título del 2° libro: ')

if libro_1 != libro_2:
  print('Los libros tienen títulos diferentes.')

Ingrese el título del 1° libro: po
Ingrese el título del 2° libro: lo
Los libros tienen títulos diferentes.

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [42]:
nota=float(input('digita la nota'))
if nota >=7 :
  print('Aprobo')
else  :
  print('Reprobo')

digita la nota6
Reprobo

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [46]:
nota=float(input('digita la nota'))
if nota >=7 :
  print('Aprobo')
if  7 > nota >=5 :
  print('Recuperacion')
if nota < 5:
  print('Reprobo')

digita la nota3
Reprobo

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [47]:
nota=float(input('digita la nota'))
if nota >=7 :
  print('Aprobo')
if  7 > nota >=5 :
  print('Recuperacion')
else:
  print('Reprobo')

digita la nota3
Reprobo

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [50]:
nota=float(input('digita la nota'))
if nota >=7 :
  print('Aprobo')
elif  7 > nota >=5 :
  print('Recuperacion')
else:
  print('Reprobo')

digita la nota6
Recuperacion

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [4]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [5]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [6]:
if nombre_1 in lista:
  print(f'{nombre_1} esta en la lista')
else:
  print(f'{nombre_1} no esta en la lista')

Miguel Castro esta en la lista

In [7]:
# Recolectamos los números
num1 = float(input('Ingrese el primer número: '))
num2 = float(input('Ingrese el segundo número: '))
# Comparamos ambos números y determinamos cuál es el mayor
if num1 > num2:
    print(f'El primer número es mayor: {num1}')
elif num2 > num1:
    print(f'El segundo número es mayor: {num2}')
else: # En caso de que los números sean iguales
    print('Ambos números son iguales.')

Ingrese el primer número: 6
Ingrese el segundo número: 9
El segundo número es mayor: 9.0

In [11]:
# Recolectamos el porcentaje
variación = float(input('Ingrese el porcentaje de crecimiento: '))
# Verificamos si el valor es positivo o negativo con una comparación para ver si el número
# es mayor o menor que 0
if variación > 0:
    print(f'Hubo un crecimiento del {variación}%')
elif variación < 0:
    print(f'Hubo un decrecimiento del {variación}%')
else:
    print('No hubo crecimiento ni decrecimiento.')
if variación > 0:
    print(f'Hubo un crecimiento del {variación}%')
elif variación < 0:
    print(f'Hubo un decrecimiento del {variación}%')
else:
    print('No hubo crecimiento ni decrecimiento.')

Ingrese el porcentaje de crecimiento: 5
Hubo un crecimiento del 5.0%
Hubo un crecimiento del 5.0%

In [12]:
# Recolectamos la letra del usuario en minúsculas
letra = input('Ingrese una letra: ').lower()
vocales = 'aeiou' # cadena que contiene todas las vocales
# Verificamos si la letra está en las vocales con `in`
if letra in vocales:
    print('La letra es una vocal.')
else:
    print('La letra es una consonante.')

Ingrese una letra: d
La letra es una consonante.

In [13]:
# Recolectamos los precios de los 3 años
precio_ano1 = float(input('Ingrese el precio promedio del automóvil en el primer año: '))
precio_ano2 = float(input('Ingrese el precio promedio del automóvil en el segundo año: '))
precio_ano3 = float(input('Ingrese el precio promedio del automóvil en el tercer año: '))
# Determinamos el valor más alto mediante comparaciones
mayor = precio_ano1
if precio_ano2 > mayor:
  mayor = precio_ano2
if precio_ano3 > mayor:
  mayor = precio_ano3
# Determinamos el valor más bajo mediante comparaciones
menor = precio_ano1
if precio_ano2 < menor:
  menor = precio_ano2
if precio_ano3 < menor:
  menor = precio_ano3
# Mostramos los resultados
print(f'El precio más alto fue de R$ {mayor}.')
print(f'El precio más bajo fue de R$ {menor}.')

Ingrese el precio promedio del automóvil en el primer año: 1500
Ingrese el precio promedio del automóvil en el segundo año: 1600
Ingrese el precio promedio del automóvil en el tercer año: 2000
El precio más alto fue de R$ 2000.0.
El precio más bajo fue de R$ 1500.0.

In [14]:
# Recolectamos el precio de tres productos
producto1 = float(input('Ingrese el precio del primer producto: '))
producto2 = float(input('Ingrese el precio del segundo producto: '))
producto3 = float(input('Ingrese el precio del tercer producto: '))

# Usamos el operador lógico `and` para determinar cuál es el precio más bajo entre los 3 productos
# ya que esto nos permite hacer una comparación de 3 entradas
if producto1 < producto2 and producto1 < producto3:
    print('El primer producto es el más barato.')
elif producto2 < producto1 and producto2 < producto3:
    print('El segundo producto es el más barato.')
else:
    print('El tercer producto es el más barato.')

Ingrese el precio del primer producto: 1500
Ingrese el precio del segundo producto: 1600
Ingrese el precio del tercer producto: 2000
El primer producto es el más barato.

In [15]:
# Recolectamos los 3 números
num1 = int(input('Ingrese el primer número: '))
num2 = int(input('Ingrese el segundo número: '))
num3 = int(input('Ingrese el tercer número: '))

# Comparación entre los 3 números
if (num1 >= num2) and (num1 >= num3):
    print(num1)
    if num2 >= num3:
        print(num2)
        print(num3)
    else:
        print(num3)
        print(num2)
elif (num2 >= num1) and (num2 >= num3):
    print(num2)
    if num1 >= num3:
        print(num1)
        print(num3)
    else:
        print(num3)
        print(num1)
else:
    print(num3)
    if num1 >= num2:
        print(num1)
        print(num2)
    else:
        print(num2)
        print(num1)

Ingrese el primer número: 5
Ingrese el segundo número: 6
Ingrese el tercer número: 5
6
5
5

In [16]:
# Recolectamos el turno de estudio
turno = input('Ingresa en qué turno estudias (mañana, tarde o noche): ')

# Comparamos la entrada con todas las opciones y mostramos el resultado.
if turno == 'mañana':
  print('¡Buenos Días!')
elif turno == 'tarde':
  print('¡Buenas Tardes!')
elif turno == 'noche':
  print('¡Buenas Noches!')
else:
  print('¡Valor Inválido!')

Ingresa en qué turno estudias (mañana, tarde o noche): tarde
¡Buenas Tardes!

In [17]:
# Recolectamos los datos
num = int(input('Ingresa un número: '))

# Verificamos si el número es par según el resultado del módulo
if num % 2 == 0:
    print('El número es par.')
else:
    print('El número es impar.')

Ingresa un número: 6
El número es par.

In [19]:
# Recolectamos los datos
# Recolectamos los datos
num = float(input('Ingresa un número: '))
# Verificamos si el número es entero o decimal según el resultado del módulo
if num % 1 == 0:
    print('El número es entero.')
else:
    print('El número es decimal.')
    print('El número es decimal.')

Ingresa un número: 5
El número es entero.

In [23]:
# Recolectamos los números a operar y solicitamos la operación deseada por el usuario
num1 = float(input('Ingrese el primer número: '))
num2 = float(input('Ingrese el segundo número: '))
operación = input('Ingrese la operación deseada (+, -, *, /): ')

# Verificamos la operación seleccionada y realizamos la operación matemática según la elección
if operación == '+':
    resultado = num1 + num2
elif operación == '-':
    resultado = num1 - num2
elif operación == '*':
    resultado = num1 * num2
elif operación == '/':
    resultado = num1 / num2
else: # Especificamos un resultado en caso de que el usuario no ingrese una de las operaciones correctamente.
    print('Operación no válida, el resultado de la operación será 0')
    resultado = 0

# Realizamos las mismas verificaciones que en preguntas anteriores para generar el informe del cálculo entre números
if resultado % 1 == 0:
    print('El resultado es un número entero.')
else:
    print('El resultado es un número decimal.')

if resultado > 0:
    print('El resultado es positivo.')
else:
    print('El resultado es negativo.')

if resultado % 2 == 0:
    print('El resultado es un número par.')
else:
    print('El resultado es un número impar.')

Ingrese el primer número: 5
Ingrese el segundo número: 6
Ingrese la operación deseada (+, -, *, /): 4
Operación no válida, el resultado de la operación será 0
El resultado es un número entero.
El resultado es negativo.
El resultado es un número par.

In [24]:
# Recolectamos los lados de un triángulo
print('Estamos recopilando los lados de un triángulo.')
lado1 = float(input('Ingresa la longitud del primer lado: '))
lado2 = float(input('Ingresa la longitud del segundo lado: '))
lado3 = float(input('Ingresa la longitud del tercer lado: '))

# Verificamos si los lados pueden formar un triángulo
if (lado1 + lado2 > lado3) and (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2):
    print('¡Los valores pueden formar un triángulo!')
    # Comparamos los lados para determinar el tipo de triángulo
    if (lado1 == lado2) and (lado2 == lado3):
        print('El triángulo es equilátero.')
    elif (lado1 != lado2) and (lado2 != lado3) and (lado1 != lado3):
        print('El triángulo es escaleno.')
    else:
        print('El triángulo es isósceles.')
else:
    print('¡Los valores no pueden formar un triángulo!')

Estamos recopilando los lados de un triángulo.
Ingresa la longitud del primer lado: 20
Ingresa la longitud del segundo lado: 30
Ingresa la longitud del tercer lado: 40
¡Los valores pueden formar un triángulo!
El triángulo es escaleno.

In [27]:
# Recolectamos la cantidad de litros y el tipo de combustible,
# convirtiendo el carácter en mayúsculas para facilitar nuestro análisis
cantidad_litros = float(input('Ingrese la cantidad de litros vendidos: '))
tipo_combustible = input('Ingrese el tipo de combustible (E para etanol y D para diésel): ').upper()

# Verificamos primero el tipo de combustible
if tipo_combustible == 'E':
  # Establecemos el precio por litro de etanol
  precio_litro = 1.70
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.02
  else:
    descuento = 0.04
elif tipo_combustible == 'D':
  # Establecemos el precio por litro de diésel
  precio_litro = 2.00
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.03
  else:
    descuento = 0.05
# En caso de error en la especificación del tipo de combustible,
# consideramos las entradas como no válidas y establecemos los precios y descuentos en 0
else:
    print('Entradas no válidas!')
    precio_litro = 0
    descuento = 0

# Calculamos el valor del descuento, seguido del cálculo del precio descontado
valor_descuento = precio_litro * cantidad_litros * descuento
valor_pagado = precio_litro * cantidad_litros - valor_descuento
# Recolectamos la cantidad de litros y el tipo de combustible,
# convirtiendo el carácter en mayúsculas para facilitar nuestro análisis
cantidad_litros = float(input('Ingrese la cantidad de litros vendidos: '))
tipo_combustible = input('Ingrese el tipo de combustible (E para etanol y D para diésel): ').upper()

# Verificamos primero el tipo de combustible
if tipo_combustible == 'E':
  # Establecemos el precio por litro de etanol
  precio_litro = 1.70
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.02
  else:
    descuento = 0.04
elif tipo_combustible == 'D':
  # Establecemos el precio por litro de diésel
  precio_litro = 2.00
  # Según la cantidad de litros, establecemos el descuento correspondiente
  if cantidad_litros <= 15:
    descuento = 0.03
  else:
    descuento = 0.05
# En caso de error en la especificación del tipo de combustible,
# consideramos las entradas como no válidas y establecemos los precios y descuentos en 0
else:
    print('Entradas no válidas!')
    precio_litro = 0
    descuento = 0

# Calculamos el valor del descuento, seguido del cálculo del precio descontado
valor_descuento = precio_litro * cantidad_litros * descuento
valor_pagado = precio_litro * cantidad_litros - valor_descuento

# Resultado
print(f'Valor a pagar por el cliente: R$ {valor_pagado}')

Ingrese la cantidad de litros vendidos: 1000
Ingrese el tipo de combustible (E para etanol y D para diésel): d
Ingrese la cantidad de litros vendidos: 500
Ingrese el tipo de combustible (E para etanol y D para diésel): d
Valor a pagar por el cliente: R$ 950.0

In [28]:
# Recolectamos las ventas de los dos años
venta_2022 = float(input('Ingrese la cantidad de ventas en 2022: '))
venta_2023 = float(input('Ingrese la cantidad de ventas en 2023: '))

# Calculamos la variación porcentual entre las ventas de los años 2022 y 2023
var_porcentual = 100 * (venta_2023 - venta_2022) / (venta_2022)

# Análisis condicional de la variación porcentual para determinar la sugerencia a enviar
if var_porcentual > 20:
    print('Bonificación para el equipo de ventas.')
elif 2 <= var_porcentual <= 20:
    print('Pequeña bonificación para el equipo de ventas.')
elif -10 <= var_porcentual < 2:
    print('Planificación de políticas de incentivo a las ventas.')
else:
    print('Recorte de gastos.')

Ingrese la cantidad de ventas en 2022: 5000
Ingrese la cantidad de ventas en 2023: 1000
Recorte de gastos.

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [31]:
nota_1=float(input('digita la nota 1'))
nota_2=float(input('digita la nota 2'))

print(f'el promedio estudiante 1 es {(nota_1+nota_2)/2})')

digita la nota 15
digita la nota 26
el promedio es 5.5)

In [32]:
nota_1=float(input('digita la nota 1'))
nota_2=float(input('digita la nota 2'))

print(f'el promedio estudiante 2 es {(nota_1+nota_2)/2})')

digita la nota 14
digita la nota 24
el promedio estudiante 2 es 4.0)

In [33]:
nota_1=float(input('digita la nota 1'))
nota_2=float(input('digita la nota 2'))

print(f'el promedio estudiante 3 es {(nota_1+nota_2)/2})')

digita la nota 13
digita la nota 23
el promedio estudiante 3 es 3.0)

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [34]:
contador = 1
while contador <= 10:
  print(contador)
  contador = contador + 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [35]:
contador = 1
while contador <= 3:
  nota_1=float(input('digita la nota 1'))
  nota_2=float(input('digita la nota 2'))


  print(f'el promedio estudiante , {contador},  es {(nota_1+nota_2)/2})')

digita la nota 14
digita la nota 25
el promedio estudiante , 1,  es 4.5)
digita la nota 16
digita la nota 24
el promedio estudiante , 2,  es 5.0)
digita la nota 11
digita la nota 25
el promedio estudiante , 3,  es 3.0)

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [36]:
for contador in range(1,11):
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [37]:
for contador in range(1,4):
  nota_1=float(input('digita la nota 1'))
  nota_2=float(input('digita la nota 2'))


  print(f'el promedio estudiante , {contador},  es {(nota_1+nota_2)/2})')

digita la nota 15
digita la nota 26
el promedio estudiante , 1,  es 5.5)
digita la nota 14
digita la nota 25
el promedio estudiante , 2,  es 4.5)
digita la nota 13
digita la nota 22
el promedio estudiante , 3,  es 2.5)

In [38]:
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

In [39]:
for i in range(1, 6):
    if i == 4:
        break
    print(i)

1
2
3

In [40]:
# Recolectamos los valores de inicio y fin
inicio = int(input('Ingresa el primer número entero: '))
fin = int(input('Ingresa el segundo número entero: '))

# Verificamos si el valor de inicio es menor que el fin
if inicio < fin:
  # Podemos imprimir los enteros entre el valor menor y el valor mayor
  for i in range(inicio + 1, fin):
    print(i)
elif inicio > fin:
  for i in range(fin + 1, inicio):
    print(i)
else: # En caso de que los números sean iguales, no podemos imprimir ninguna secuencia.
  print('Los números son iguales.')

Ingresa el primer número entero: 5
Ingresa el segundo número entero: 4

In [41]:
# Número inicial de bacterias
colonia_a = 4
colonia_b = 10

# Tasas de crecimiento de las colonias
tasa_a = 0.03
tasa_b = 0.015

# Contador de días
días = 0

# La condición que termina el bucle es cuando
# la colonia A supera a la colonia B
while colonia_a <= colonia_b:
  # Usamos un operador de asignación con multiplicación
  colonia_a *= 1 + tasa_a
  colonia_b *= 1 + tasa_b
  # Contamos los días en cada iteración
  días += 1

# Resultado final
print(f'Necesitará {días} días para que la colonia A supere a la colonia B.')

Necesitará 63 días para que la colonia A supere a la colonia B.

In [49]:
# Bucle para recopilar las 15 notas
for i in range(15):
  nota = float(input(f'Ingresa la nota del usuario {i}: '))

  # Verifica si la nota está entre 0 y 5
  # Si no lo está, el bucle se repetirá hasta que se obtenga un valor válido
  while (nota < 0) or (nota > 5):
    nota = float(input(f'Nota no válida, ingresa nuevamente la nota del usuario {i}: '))

print('Verificación completa. Todas las notas son válidas.')

Ingresa la nota del usuario 0: 5
Ingresa la nota del usuario 1: 5
Ingresa la nota del usuario 2: 4
Ingresa la nota del usuario 3: 6
Nota no válida, ingresa nuevamente la nota del usuario 3: 2
Ingresa la nota del usuario 4: 1
Ingresa la nota del usuario 5: 2
Ingresa la nota del usuario 6: 5
Ingresa la nota del usuario 7: 4
Ingresa la nota del usuario 8: 5
Ingresa la nota del usuario 9: 6
Nota no válida, ingresa nuevamente la nota del usuario 9: 4
Ingresa la nota del usuario 10: 8
Nota no válida, ingresa nuevamente la nota del usuario 10: 4
Ingresa la nota del usuario 11: 8
Nota no válida, ingresa nuevamente la nota del usuario 11: 5
Ingresa la nota del usuario 12: 6
Nota no válida, ingresa nuevamente la nota del usuario 12: 4
Ingresa la nota del usuario 13: 5
Ingresa la nota del usuario 14: 5
Verificación completa. Todas las notas son válidas.

In [50]:
# Recopilamos la temperatura
temperatura = float(input('Ingresa la temperatura en grados Celsius: '))

# Inicializamos un contador y una suma para calcular el promedio
contador = 0
suma = 0

# Nuestro código se ejecuta hasta que el valor de temperatura sea igual a -273
while temperatura != -273:
    # La suma se actualiza sumando la temperatura a la variable suma
    suma += temperatura
    # Contamos la cantidad de valores recopilados con el contador
    contador += 1
    # Recopilamos nuevamente la temperatura
    temperatura = float(input('Ingresa la temperatura en grados Celsius: '))

promedio = suma / contador

print(f'El promedio de las temperaturas es: {promedio}')

Ingresa la temperatura en grados Celsius: 5.5
Ingresa la temperatura en grados Celsius: .2
Ingresa la temperatura en grados Celsius: 2.2
Ingresa la temperatura en grados Celsius: 2
Ingresa la temperatura en grados Celsius: 4
Ingresa la temperatura en grados Celsius: 5
Ingresa la temperatura en grados Celsius: 45
Ingresa la temperatura en grados Celsius: 78
Ingresa la temperatura en grados Celsius: -25
Ingresa la temperatura en grados Celsius: 271
Ingresa la temperatura en grados Celsius: -273
El promedio de las temperaturas es: 38.79

In [53]:
# Solicita el número
num = int(input('Ingresa un número entero: '))

# Inicializa el cálculo
factorial = 1

# Nuestro contador comienza con el número máximo
# y se realizará un conteo decreciente con el operador -=
i = num
while i > 0:
    # Queremos multiplicar el valor factorial por el número
    # y todos los números por debajo de él hasta 1
    factorial *= i
    i -= 1

# Imprime el cálculo del factorial
print(f'El factorial de {num} es {factorial}')

Ingresa un número entero: 5
El factorial de 5 es 120

In [55]:
# Solicita el número
num = int(input('Ingresa un número entero del 1 al 10: '))

# Generamos la tabla de multiplicar
print(f'Tabla de multiplicar del {num}:')
for i in range(1, 11):
    resultado = num * i
    print(f'{num} x {i} = {resultado}')
print(f'Tabla de multiplicar del {num}:')
for i in range(1, 11):
    resultado = num * i
    print(f'{num} x {i} = {resultado}')

Ingresa un número entero del 1 al 10: 10
Tabla de multiplicar del 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
Tabla de multiplicar del 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [61]:
# Recopilamos las edades de los clientes
edad = int(input('Ingresa la edad (o un número negativo para finalizar): '))

# Inicializamos las variables de conteo
contador_0_25 = 0 # contador de edades entre 0 y 25
contador_26_50 = 0 # contador de edades entre 26 y 50
contador_51_75 = 0 # contador de edades entre 51 y 75
contador_76_100 = 0 # contador de edades entre 76 y 100

# Nuestro código se ejecuta hasta que el valor de edad sea negativo
while edad >= 0:
    # Contamos cada caso
    if edad >= 0 and edad <= 25:
        contador_0_25 += 1
    elif edad >= 26 and edad <= 50:
        contador_26_50 += 1
    elif edad >= 51 and edad <= 75:
        contador_51_75 += 1
    elif edad >= 76 and edad <= 100:
        contador_76_100 += 1

    # Repetimos el proceso de entrada de datos hasta que se ingrese un número negativo
    edad = int(input('Ingresa la edad (o un número negativo para finalizar): '))

# Mostramos los resultados
print('Distribución de edades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)

Ingresa la edad (o un número negativo para finalizar): 5
Ingresa la edad (o un número negativo para finalizar): -5
Distribución de edades:
[0-25]: 1
[26-50]: 0
[51-75]: 0
[76-100]: 0

In [64]:
# Inicializamos las variables contadoras
votos_candidato1 = 0
votos_candidato2 = 0
votos_candidato3 = 0
votos_candidato4 = 0
votos_nulos = 0
votos_blanco = 0

# Inicio del bucle para leer los votos
for i in range(0, 20):
    voto = int(input('Ingresa tu voto: '))
    if voto == 1:
        votos_candidato1 += 1
    elif voto == 2:
        votos_candidato2 += 1
    elif voto == 3:
        votos_candidato3 += 1
    elif voto == 4:
        votos_candidato4 += 1
    elif voto == 5:
        votos_nulos += 1
    elif voto == 6:
        votos_blanco += 1
    else:
        print("Voto inválido.")

print(f'Votos candidato 1: {votos_candidato1}')
print(f'Votos candidato 2: {votos_candidato2}')
print(f'Votos candidato 3: {votos_candidato3}')
print(f'Votos candidato 4: {votos_candidato4}')
print(f'Votos nulos: {votos_nulos}')
print(f'Votos en blanco: {votos_blanco}')
print(f'Porcentaje de votos nulos: {(votos_nulos / 20 * 100)}')
print(f'Porcentaje de votos en blanco: {(votos_blanco / 20 * 100)}')

Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 1
Ingresa tu voto: 2
Ingresa tu voto: 4
Ingresa tu voto: 5
Ingresa tu voto: 4
Ingresa tu voto: 5
Ingresa tu voto: 4
Ingresa tu voto: 5
Ingresa tu voto: 4
Ingresa tu voto: 5
Ingresa tu voto: 4
Ingresa tu voto: 5
Ingresa tu voto: 4
Ingresa tu voto: 5
Votos candidato 1: 4
Votos candidato 2: 4
Votos candidato 3: 0
Votos candidato 4: 6
Votos nulos: 6
Votos en blanco: 0
Porcentaje de votos nulos: 30.0
Porcentaje de votos en blanco: 0.0

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [65]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [66]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [67]:
type(lista[0])

str

In [68]:
type(lista[2])

float

In [69]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [71]:
lista[2]=10.0

In [72]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
10.0
9.7
True

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [75]:

  promedio = (lista[1]+lista[2]+lista[3])/3
  print(promedio)

9.733333333333333

In [76]:
lenguaje = 'Python'

In [77]:
print(lenguaje[0], lenguaje[1], lenguaje[2], lenguaje[-3], lenguaje[-2], lenguaje[-1])

P y t h o n

In [78]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split('?')
print(lista_palabras)

['¿Quién vino primero', ' ¿El huevo', ' ¿O fue la serpiente', '']

In [79]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split()
print(lista_palabras)

['¿Quién', 'vino', 'primero?', '¿El', 'huevo?', '¿O', 'fue', 'la', 'serpiente?']

In [80]:
mezclas = ['Pinturas: rojo, azul y amarillo',
            'Verde: mezcla de azul y amarillo',
            'Naranja: mezcla de rojo y amarillo',
            'Morado: mezcla de rojo y azul']
unificador = '. '
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo. Verde: mezcla de azul y amarillo. Naranja: mezcla de rojo y amarillo. Morado: mezcla de rojo y azul

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [81]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [82]:
lista[0:2]

['Penélope Camacho', 9.5]

In [83]:
lista[3:]

[9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [84]:
lista.append(promedio)

In [85]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [86]:
lista.extend([10.0,8.0,9.0])

In [87]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [88]:
lista.append([10.0,8.0,9.0])

In [89]:
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [90]:
lista.remove( [10.0, 8.0, 9.0])

In [91]:
lista

['Penélope Camacho', 9.5, 10.0, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

In [93]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

In [94]:
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

In [95]:
razas_de_perros.pop(1)

'Golden Retriever'

In [96]:
razas_de_perros.index('Pastor Alemán')

2

In [97]:
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [99]:
diccionario = {'llave_1': 1, 'llave_2': 2}

In [101]:
diccionario

{'llave_1': 1, 'llave_2': 2}

In [102]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [107]:
estudiante={'matricula':2000168933,
            'dia_registro':25,
            'mes_registro':10,
            'grupo':'2E'}

In [104]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2E'}

In [108]:
estudiante['matricula']

2000168933

In [109]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [110]:
estudiante['grupo']='2G'

In [111]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [113]:
estudiante['modalidad']='EAD'

In [114]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [115]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [116]:
estudiante.pop('grupo')

'2G'

In [117]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [119]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [120]:
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [121]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [122]:
for llave in estudiante:
  print(llave)

matricula
dia_registro
mes_registro
modalidad

In [126]:
for llave, valor in estudiante.items():
  print(llave, valor)

matricula 2000168933
dia_registro 25
mes_registro 10
modalidad EAD

In [127]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

In [128]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500